
.layout{
    margin-top: 32px;
    // height: 100%;
    // height: 100vh;
    // width: 1564px;
    display: flex;
    // flex-wrap: wrap;

    flex-direction: row;
    justify-content: space-between;
    gap: 32px;

    .left_side{
        max-height: 1054px;
        width: 367px;
        margin-bottom: 19px;
        // border-radius: 16px;
        // background: #fff;
    }

    .center{
        // flex: 3;
        width: 766px;
        height: 673px;
        border-radius: 16px;
        max-height: 908px;
        margin-bottom: 17px;
    }
    
    .right_side{
        margin-top: -14px;
        max-width: 367px;
        height: 740px;
        border-radius: 16px;
        margin-bottom: 19px;
        // background-color: #fff;
       }
}