.center {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #fff;
    border-radius: 16px;
    // margin-bottom: 20px;
    h3 {
      flex: none;
      justify-content: baseline;
    }

    .chart {
      width: 726px;
      height: 298px;
      background: #f4f0fe;
      border-radius: 12px;
    }
    .readings {
      display: flex;
      gap: 21px;
      flex-direction: row;
      background: #fff;
      margin-bottom: 20px;
      .icon {
        background: transparent;
        img {
          background: transparent;
          width: 96px;
          height: 96px;
          margin-top: 16px;
          margin-left: 16px;
          margin-bottom: 16px;
        }
      }
      .title {
        height: 22px;
        margin-left: 16px;
        background: transparent;
        font-size: 16px;
      }
      .reading {
        padding-top: 5px;
        height: 41px;
        margin-left: 16px;
        background: transparent;
        font-size: 30px;
        font-weight: bold;
      }
      .category {
        height: 19px;
        // margin-top: 17px;
        font-size: 14px;
        margin-left: 16px;
        background: transparent;
        .dropdown {
          display: fle;
          img {
            background: transparent;
          }
        }
      }
      .respiratoryRate {
        width: 228px;
        height: 242px;
        background: #e0f3fa;
        border-radius: 12px;
      }
      .temperature {
        width: 228px;
        height: 242px;
        background: #ffe6e9;
        border-radius: 12px;
      }
      .heartRate {
        width: 228px;
        max-height: 242px;
        background: #ffe6f1;
        border-radius: 12px;
      }
    }
  }

  .bottom {
    margin-top: 51px;
    // height: 349px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 16px;
    // display: flex;
    // flex-direction: column;
    .diagonistic_list {
        background: #fff;

      .diagnostic_title {
        p {
          font-size: 24px;
          font-weight: 800;
          background: #fff;
          text-align: left;

        }
      }

    }
    .table {
      table{
        // width: 100%;
        border-collapse: collapse;
        // border: 1px solid #ddd;
        margin-top: 20px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // gap: 37px;
        .table_header{
          text-align: left;
          background: #F6F7F8;
          border-radius: 24px;
          padding-left: 20px;
          padding-right: 20px;
          th{
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 16px;
          padding-right: 31px;
        }
        }
        td{
          background: #fff;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 16px;
          padding-right: 31px;

        }
        .status{
          max-width: 79px;
        }
        
    }
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      gap: 37px;
    

      .problemm {
        background: #fff;
        width: 269px;
        display: flex;
        flex-direction: column;
        // gap: 37px;
        p{
            background: #fff;
        }
        .title{
            background: #F6F7F8;
          }

      }
      .descriptionn {
       
        display: flex;
        flex-direction: column;
        width: 287px;
        p{
            background: #fff;

        }
        // display: flex;
        // flex-direction: column;
      }
      .statuss {
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 210px;
        p{
            background: #fff;

        }
        // align-items: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
      }

      .tableHead {
        .tableHeadData {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-weight: bold;
          }
          .problem {
            width: 129px;
            height: 19px;
            padding-left: 16px;
          }
          .description {
            margin-left: 104px;
            margin-right: 285px;
          }
          .status {
            padding-right: 67px;
          }
        }
        .tableData {
          width: 723px;
          height: 59px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #fff;

          p {
            font-weight: normal;
          }
          .problemData {
            background: #fff;

            // width: 129px;
            // height: 19px;
            padding-left: 16px;
          }
          .descriptionData {
            background: #fff;

            width: 287px;
            // height: 19px;
            // margin-left: 104px;
            // margin-right: 285px;
          }
          .statusData {
            background: #fff;
            width: 79px;
            height: 38px;
            // padding-right: 67px;
          }
        }
      }
    }
  }
}
